<h1>this is the tasklist page for <%=user.name%></h1>
<section id="tasklist-create">
    <div id="create-task">
        <form action="/tasklist/task/create" method="post">
            <input type="text" name="detail" placeholder="Task Description" required>        
            <input type="date" name="due" required>        
            <select name="tag" required>
                    <option value="disabled option" disabled selected>
                        add / create tag
                    </option>
                <%if(all_tags.length>0) {%>
                    <%for(let tag of all_tags){%>
                        <option value="<%=tag._id%>">
                            <%=tag.name%>
                        </option>
                    <%}%>
                <%}%>
            </select>
            <input type="submit" value="create task">
        </form>
    </div>
    <div id="create-tag">
        <form action="/tasklist/tag/create" method="post">
            <input type="text" name="name" placeholder="Tag Name" required>
            <input type="submit" value="create Tag">
        </form>
    </div>
</section>
<section id="tasklist-view">
    <%if(all_tasks.length==0){%>
        <p>you have no tasks pending</p>
    <%}else{%>
        <ul>
            <%for(let task of all_task){%>
                <li>
                    <%=task.detail%>
                    <a href="/tasklist/task/destroy/<%=task._id%>"><i class="fa-solid fa-eraser"></i></a>
                    <a href="/tasklist/task/update/<%=task._id%>"><i class="fa-solid fa-pen-to-square"></i></a>
                </li>
            <%}%>
        </ul>
    <%}%>
</section>